<div class="container">
    <span class="fas fa-plus ml-auto" onclick="togCrt()">  Create Department</span>
    <span class="fas fa-plus ml-auto" onclick="togAddPms()">  Add Department Permission</span>
</div>
<!-- Create Department -->
<div id="createdpt" class="createdptsrc">
    <a href="javascript:void(0)" class="closeCrtbtn" onclick="closeCrt()">&times;</a>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <form action="/adddpt" method="POST">
                <div class="mb-3">
                    <label>Username</label>
                    <div class="input-group">
                        <input class="form-control" name="username">
                    </div>
                </div>

                <div class="mb-3">
                    <label>Password</label>
                    <div class="input-group">
                        <input type="password" class="form-control" name="password">
                    </div>
                </div>

                <div class="mb-3">
                    <label>Department Name</label>
                    <div class="input-group">
                        <select class="form-control" name="dptname">
                            {{#each dpt}}
                            <option value="{{name}}">{{name}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <hr class="mb-4">
                <button class="btn-lg btn-block" type="submit">Confirm</button>
            </form>
        </div>
        <div class="col-4"></div>
    </div>
</div>
<!-- Add Permission -->
<div id="permission" class="addpms">
    <a href="javascript:void(0)" class="closePmsbtn" onclick="closePms()">&times;</a>
    <form action="/addpms" method="POST">
        <div class="row">
            <div class="col-6">
                <select class="form-control" name="editdpt" laceholder="Department Name">
                    {{#each dptacc}}
                    <option value="{{highuser.name}}">{{highuser.name}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="col-6">
                <button class="btn-lg btn-block" type="submit">Confirm</button>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                {{#each dptl}}
                <span><input type="radio" name="dptid" value="{{_id}}">{{name}}</span><br>
                {{/each}}
            </div>
            <div class="col-6">
                {{#each dptr}}
                <span><input type="radio" name="dptid" value="{{_id}}">{{name}}</span><br>
                {{/each}}
            </div>
        </div>
    </form>
</div>

<!-- Make a Post -->
<div class="card gedf-card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="posts-tab" data-toggle="tab" href="#posts" role="tab" aria-controls="posts" aria-selected="true">Make a post</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="images-tab" data-toggle="tab" role="tab" aria-controls="images" aria-selected="false" href="#images">Images</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="videos-tab" data-toggle="tab" role="tab" aria-controls="videos" aria-selected="false" href="#videos">Video</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
                <div class="form-group">
                    <label class="sr-only" for="message">post</label>
                    <textarea class="form-control" id="postcontent" name="content" rows="3" placeholder="What are you thinking?"></textarea>
                </div>
            </div>
            <div class="tab-pane fade" id="images" role="tabpanel" aria-labelledby="images-tab">
                <div class="form-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="customFile">
                        <label class="custom-file-label" for="customFile">Upload image</label>
                    </div>
                </div>
                <div class="py-4"></div>
            </div>
            <div class="tab-pane fade" id="videos" role="tabpanel" aria-labelledby="video-tab">
                <div class="form-group">
                    <label class="sr-only" for="message">video</label>
                    <input type="text" class="form-control" id="videocontent" rows="3" placeholder="URL Youtube video">
                </div>
            </div>
        </div>
        <div class="btn-toolbar justify-content-between">
            <div class="btn-group">
                <button class="btn btn-primary sharebtn" id="postbutton">Share</button>
            </div>
        </div>
    </div>
</div>

<!-- Post -->
<div class="postlist" id="postlistfield">
{{#each posts}}
    <div class="card post {{_id}}">
        <div class="card-header">
            <div class="row">
                <a class="card-title col-11" href="/student/{{userID}}"><strong>{{userName}}</strong></a>
                <div class="dropdown col-1">
                    <a class="fas fa-ellipsis-v" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" onclick="togEditpost('editpost{{_id}}')">Edit</a>
                        <a id="deletepost{{_id}}" value="{{_id}}" class="dropdown-item" href="#">Delete</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <p class="card-text">{{postContent}}</p>
        </div>
        <img class="card-img-bottom" src="/uploads/{{image}}">
        <div>
            <iframe width="100%" height="345" src="https://www.youtube.com/embed/{{video}}"></iframe>
        </div>
        <div class="card-footer commentfield">
            <div class="row">
                <input class="cmtinput col-10" id="cmtcontent{{_id}}" name="cmtcontent" placeholder="Write a comment" type="text">
                <textarea hidden name="postID" id="post{{_id}}">{{_id}}</textarea>
                <button class ="col-2 fab fa-telegram-plane" value="{{_id}}" id="cmtbutton{{_id}}"></button>
            </div>        
        </div>
        <div class="cmtlist" id="cmtlistfield{{_id}}">
        {{#each comment}}
            <div class="card-footer cmt {{_id}}">
                <div class="row">
                    <h6 class="col-11">{{userName}}</h6>
                    <a class="col-1 fas fa-trash" id="deletecomment{{_id}}" value1="{{_id}}" value2="{{../_id}}"></a>
                </div>
                <p>{{cmtContent}}</p>
            </div>
        {{/each}}               
        </div>
    </div>
    <div id="editpost{{_id}}" class="editpostsrc">
        <a href="javascript:void(0)" class="closeEditpostbtn" onclick="closeEditpost('editpost{{_id}}')">&times;</a>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <div class="mb-3">
                    <label>Edit Content</label>
                    <div class="input-group">
                        <textarea class="form-control" id="newcontent{{_id}}">{{postContent}}</textarea>
                    </div>
                </div>
                <hr class="mb-4">
                <button class="btn-lg btn-block" id="confirmedit{{_id}}" value="{{_id}}">Confirm</button>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
{{/each}}    
</div>